absl-py==2.0.0
accelerate==0.24.1
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.0
aiosignal==1.3.1
albumentations==1.3.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
av==11.0.0
backcall==0.2.0
boto3==1.29.3
botocore==1.32.3
braceexpand==0.1.7
cachetools==5.3.2
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==2.1.1
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
configobj==5.0.8
configparser==6.0.0
contourpy==1.1.1
controlnet-aux==0.0.3
crcmod==1.7
cryptography==41.0.5
cycler==0.12.1
datasets==2.15.0
debugpy==1.8.0
decorator==5.1.1
diffusers==0.23.1
dill==0.3.7
einops==0.7.0
environs==9.5.0
etelemetry==0.3.1
exceptiongroup==1.1.3
executing==2.0.1
face-alignment==1.3.4
facexlib==0.3.0
fastapi==0.104.1
ffmpy==0.3.1
filelock==3.9.0
filterpy==1.4.5
fitz==0.0.1.dev2
flatbuffers==23.5.26
fonttools==4.44.3
frontend==0.0.3
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
google-auth==2.23.4
google-auth-oauthlib==1.0.0
gradio==3.50.2
gradio_client==0.6.1
grpcio==1.59.3
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.1
huggingface-hub==0.19.4
humanfriendly==10.0
humanize==4.8.0
idna==3.4
imageio==2.33.0
imhist==0.0.4
importlib-metadata==6.8.0
importlib-resources==6.1.1
imWatermark==0.0.2
ipykernel==6.26.0
ipython==8.12.3
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter_client==8.6.0
jupyter_core==5.5.0
kiwisolver==1.4.5
lazy_loader==0.3
linkify-it-py==2.0.2
llvmlite==0.41.1
lmdb==1.4.1
looseversion==1.3.0
lpips==0.1.4
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mediapipe==0.10.8
mmagic==1.1.0
mmcv==2.0.1
mmcv-full==1.7.1
mmengine==0.8.5
model-index==0.1.11
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
multiprocessing-logging==0.3.4
nest-asyncio==1.5.8
networkx==3.0
nibabel==5.1.0
nipype==1.8.6
numba==0.58.1
numpy==1.24.1
oauthlib==3.2.2
omegaconf==2.3.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.28
ordered-set==4.1.0
orjson==3.9.10
oss2==2.17.0
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathlib==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
prompt-toolkit==3.0.41
protobuf==3.20.3
prov==2.0.0
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyarrow-hotfix==0.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.1
pydantic_core==2.14.3
pydot==1.4.2
pydub==0.25.1
Pygments==2.17.1
PyMuPDF==1.23.7
PyMuPDFb==1.23.7
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.6
pytz==2023.3.post1
PyWavelets==1.4.1
pyxnat==1.6
PyYAML==6.0.1
pyzmq==25.1.1
qudida==0.0.4
rdflib==7.0.0
referencing==0.31.0
regex==2023.10.3
requests==2.28.2
requests-oauthlib==1.3.1
resize-right==0.0.2
rich==13.4.2
rpds-py==0.13.1
rsa==4.9
s3transfer==0.7.0
safetensors==0.4.0
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
semantic-version==2.10.0
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
sounddevice==0.4.6
stack-data==0.6.3
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.3.0
threadpoolctl==3.2.0
thrift==0.9.3
tifffile==2023.7.10
timm==0.9.10
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.3.3
tqdm==4.65.2
traitlets==5.13.0
traits==6.3.2
transformers==4.28.0
triton==2.1.0
typer==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==1.26.13
uvicorn==0.24.0.post1
wcwidth==0.2.12
webdataset==0.2.77
websockets==11.0.3
Werkzeug==3.0.1
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.2
zipp==3.17.0
